
* {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  
  img {
    max-width: 100%; }
  
  a {
    text-decoration: none;
    outline: none;
    color: #444; }
  
  a:hover {
    color: #444; }
  
  ul {
    margin-bottom: 0;
    padding-left: 0; }
  
  a:hover,
  a:focus,
  input,
  textarea {
    text-decoration: none;
    outline: none; }
  
  .center {
    text-align: center; }
  
  .left {
    text-align: left; }
  
  .right {
    text-align: right; }
  
  .cp {
    cursor: pointer; }
  
  html, body {
    height: 100%; }
  
  p {
    margin-bottom: 0px;
    width: 100%; }
  
  .no-padding {
    padding: 0px; }
  
  .no-margin {
    margin: 0px; }
  
  .hid {
    display: none; }
  
  .top-mar {
    margin-top: 15px; }
  
  .h-100 {
    height: 100%; }
  
  ::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important; }
  
  .container-fluid {
    padding: 0px; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "mouse-500", Arial, Helvetica, sans-serif; }
  
  strong {
    font-family: "mouse-500", Arial, Helvetica, sans-serif; }
  
  body {
    background-color: #f7f7ff !important;
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    color: #6A6A6A; }
  
  .session-title {
    padding: 30px;
    margin: 0px; }
    .session-title h2 {
      width: 100%;
      text-align: center; }
    .session-title p {
      max-width: 850px;
      text-align: center;
      float: none;
      margin: auto; }
    .session-title span {
      float: right;
      font-style: italic; }
  
  .inner-title {
    padding: 20px;
    padding-left: 0px;
    margin-bottom: 30px; }
    .inner-title h2 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-family: "slab", Arial, Helvetica, sans-serif; }
    .inner-title p {
      width: 100%;
      text-align: center; }
  
  .btn-success {
    background-color: #1aaa55;
    border-color: #1aaa55; }
    .btn-success:hover {
      background-color: #1aaa55 !important;
      border-color: #1aaa55 !important; }
    .btn-success:active {
      background-color: #1aaa55 !important;
      border-color: #1aaa55 !important; }
    .btn-success:focus {
      background-color: #1aaa55 !important;
      border-color: #1aaa55 !important;
      box-shadow: none !important; }
  
  .btn-info {
    background-color: #00a8df;
    border-color: #00a8df; }
    .btn-info:hover {
      background-color: #00a8df !important;
      border-color: #00a8df !important; }
    .btn-info:active {
      background-color: #00a8df !important;
      border-color: #00a8df !important; }
    .btn-info:focus {
      background-color: #00a8df !important;
      border-color: #00a8df !important;
      box-shadow: none !important; }
  
  .btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }
  
  .form-control:focus {
    box-shadow: none !important;
    border: 2px solid  #00a8df; }
  
  .btn-light {
    background-color: #FFF;
    color: #3F3F3F; }
  
  @media screen and (max-width: 1199px) {
    .container {
      max-width: 100%; } }
  .collapse.show {
    display: block !important; }
  
  .form-control:focus {
    box-shadow: none;
    border: 2px solid #0d7a40 !important; }
  
  .form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px; }
    .form-control:focus {
      background-color: #FFF;
      border-color: #CCC; }
  



.key-features .kvxol {
    padding: 0px; }
  .key-features .single-key {
    background-color: #FFF;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px; }
    .key-features .single-key i {
      background-color: #FFF;
      padding: 20px;
      font-size: 42px;
      color: #0085bc;
      margin-bottom: 30px;
      border-radius: 50px; }
    .key-features .single-key p {
      font-family: "mouse-300", Arial, Helvetica, sans-serif;
      font-size: 15px; }
  .key-features .ky-1 {
    background-color: #03509e;
    color: #FFF;
    margin-bottom: 0px; }
  .key-features .ky-2 {
    background-color: #0085bc;
    color: #FFF;
    margin-bottom: 0px; }
  
  .department {
    padding: 50px; }
    @media screen and (max-width: 940px) {
      .department {
        padding: 30px 10px; } }
    .department .single-key {
      box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
      .with-medical {
        padding: 50px;
        background-color: #FFF; }
        @media screen and (max-width: 940px) {
          .with-medical {
            padding: 30px 10px; } }
        .with-medical .txtr {
          padding: 10px; }
          .with-medical .txtr h4 {
            font-size: 32px; }
            .with-medical .txtr h4 span {
              color: #03509e; }
          .with-medical .txtr p {
            text-indent: 20px;
            font-size: 1.1rem; }


            .our-blog {
                background-color: #FDFDFD;
                padding: 40px; }
                @media screen and (max-width: 967px) {
                  .our-blog {
                    padding: 30px 0px; } }
                .our-blog .single-blog {
                  margin-bottom: 20px;
                  background-color: #FFF;
                  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
                  .our-blog .single-blog figure {
                    margin-bottom: 5px; }
                  .our-blog .single-blog .blog-detail {
                    padding: 15px; }
                  .our-blog .single-blog small {
                    color: #FFFFFF;
                    font-size: 12px; }
                  .our-blog .single-blog h4 {
                    font-size: 1.2rem;
                    margin-bottom: 10px; }
                  .our-blog .single-blog p {
                    text-align: justify;
                    text-indent: 20px; }
                  .our-blog .single-blog .link a {
                    font-size: 12px;
                    color: #FFFFFF; }
                  .our-blog .single-blog .link i {
                    padding-top: 6px;
                    margin-left: 5px;
                    color: #FFFFFF; }

                    .copy {
                        padding: 20px;
                        background-color: #2E2E2E;
                        color: #FFF; }
                        .copy a {
                          color: #FFF; }
                        .copy span {
                          float: right; }
                          .copy span i {
                            margin-right: 20px; }







                            header {
                                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                                position: absolute;
                                width: 100%;
                                z-index: 999;
                                background-color: #FFF; }
                                header .header-top {
                                  background-color: #212121; }
                                  header .header-top .left-item ul li {
                                    float: left;
                                    color: #BCBCBC;
                                    padding: 10px; }
                                    header .header-top .left-item ul li i {
                                      color: #4e9be9; }
                                  header .header-top .right-item ul {
                                    float: right; }
                                    header .header-top .right-item ul li {
                                      float: left;
                                      color: #BCBCBC;
                                      padding: 10px; }
                                header .header-nav .nav-item ul li {
                                  float: left;
                                  font-family: "mouse-500", Arial, Helvetica, sans-serif;
                                  font-size: 16px;
                                  padding: 28px; }
                                  @media screen and (max-width: 916px) {
                                    header .header-nav .nav-item ul li {
                                      padding: 30px 18px; } }
                                  @media screen and (max-width: 767px) {
                                    header .header-nav .nav-item ul li {
                                      float: none;
                                      padding: 14px;
                                      border-top: 1px solid #CCC; } }
                                header .header-nav .nav-img img {
                                  width: 200px;
                                  padding: 0px;
                                  margin-top: 13px; }
                                  @media screen and (max-width: 767px) {
                                    header .header-nav .nav-img img {
                                      margin-top: 0px;
                                      padding: 10px; } }
                                header .header-nav .appoint {
                                  padding-top: 21px; }
                                header .scroll-to-fixed-fixed {
                                  background-color: #FFF;
                                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
                              
                              .small-menu {
                                float: right;
                                color: #03509e;
                                font-size: 32px;
                                margin-top: 17px;
                                margin-right: 12px; }